.UserPanel {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: solid rgb(105, 84, 84) 1px;
    border-radius: 20px;
    margin: 20px;
    margin-top: 0px;
    height: 94vh;
}

.Skills,.Languages,.Hobbies{
    overflow: auto;
    margin-bottom: 30px;
}

.AddExperience {
    border: solid black 2px;
    width: 70px;
    border-radius: 40px;
    margin-top: 20px;
}
.AddExperience:hover {
    background-color: rgb(114, 238, 114);
}