:root {
  background-color: aliceblue;

}
.app{
  display: grid;
  grid-template-columns: 3fr 2fr;
  font-family: sans-serif;
  overflow: hidden;
}

@media print {
  body {
    visibility: hidden;
  }
  .PreviewPanel {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: none, none;

  }
  :root{
    background-color: white;
  }
}
@media (max-width: 820px) {
  .app{
    display: flex;
    flex-direction: column;
  }
  .topicSidebarVisible{
    width: 100vw;
    transition: width 1s, opacity 1s;
    opacity: 1;
  }
  .topicSidebarHidden{
  width: 0px;
  transition: width 1s, opacity 0.5s;
  opacity: 0;
  pointer-events: none;
  }
  .UserPanel>div:last-child{
    transform: translateX(-20px);
}
}
@media (min-width: 821px) {
  .topicSidebarVisible{
    width: 20vw;
    font-size: 2vw;
    transition: width 1s, opacity 1s;
    opacity: 1;
  }
  .topicSidebarHidden{
    pointer-events: none;
    width: 0px;
    transition: width 1s, opacity 0.5s;
    opacity: 0;
  }
}

